@import "../styles/_variables";

.topic-graphic {
  height: 128px;
  margin: 0.75em;
  cursor: pointer;
  z-index: 1;
}

.topic-graphic:hover {
  filter: drop-shadow(4px 1px 2px lightgray);
}

.topic-view {
  padding: 1.5em;
  overflow: auto;
  height: 100%;
}

.topics-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.topic-header {
  margin: 1em;
  font-family: "Fira Code", mono;
}

@media only screen and (max-width: 768px) {
  .topic-view {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }

  .topics-container {
    margin-bottom: 5em;
  }

  .topic-graphic {
    height: 96px;
    margin: 0.25em;
  }
}
